<footer class="footer py-3 sticky-bottom mt-auto foot">
  <div class="container">
    <span class="text-center"
      >This Version of YelpCamp was created by
      <a href="https://github.com/mohit-cfc">Mohit Santosh</a></span
    >
  </div>
</footer>
