<nav class="navbar sticky-top navbar-expand-lg navbar-dark nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav d-flex">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/campgrounds">All Campgrounds</a>

        <a class="nav-link" href="/campgrounds/new">New Campground</a>
        <a class="nav-link" href="/about">About</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form action="/campgrounds/results" method="get" class="d-flex">
          <input
            class="form-control me-2"
            type="text"
            placeholder="Search"
            aria-label="Search"
            name="title"
          />
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <% if(!currentUser){ %>
        <a href="/login" class="nav-link">Login</a>
        <a href="/register" class="nav-link">Register</a>
        <% }else{ %>
        <a href="/logout" class="nav-link">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
