<% layout('layouts/boilerplate') %>
<h1 class="text-center">About</h1>
<div class="col-md-8 offset-md-2 mt-3">
  <p class="text-center fs-5 about">
    YelpCamp is a basic CRUD(Create, Read, Update & Delete) application which I
    developed thanks to Colt Steele's Web Dev course on Udemy. This app allows a
    user to register and share his favourite Campsites across the world , other
    registered users can then view and review this Campground. The user can at
    any moment Update and Delete jis campground. The main aim of this project
    was for me to learn how I can scale a small application, learning to use and
    integrate various other SDK's and packages in my app.
  </p>
</div>
