<% layout('layouts/boilerplate') %>
<div class="col-md-6 offset-md-3">
  <h1>New Campground</h1>
  <form
    action="/campgrounds"
    class="needs-validation"
    method="post"
    enctype="multipart/form-data"
    novalidate
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title: </label>
      <input
        type="text"
        class="form-control"
        name="campground[title]"
        id="title"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location: </label>
      <input
        type="text"
        name="campground[location]"
        class="form-control"
        id="location"
        required
      />
    </div>

    <!-- <div class="mb-3">
      <label for="image" class="form-label">Image URL: </label>
      <input
        type="text"
        class="form-control"
        name="campground[image]"
        id="image"
        required
      />
    </div> -->
    <label for="image" class="form-label">Upload an Image:</label>
    <input class="form-control" type="file" name="image" id="image" multiple />

    <div class="mb-3">
      <label for="price" class="form-label">Price </label>
      <div class="input-group">
        <span class="input-group-text rupee">₹</span>
        <input
          type="text"
          class="form-control"
          name="campground[price]"
          id="price"
          required
        />
      </div>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="campground[description]"
        class="form-control"
        placeholder="description"
        id="description"
        required
      ></textarea>
    </div>
    <button class="btn btn-primary mt-3 mb-3">Add Campground</button>
  </form>
</div>
